/* Font Loads for Avenir and Avenir Next */
@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Light.otf') format('truetype');
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Medium.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Book.otf') format('truetype');
  font-weight: 500;
  font-style: book;
}
@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Demi.otf') format('truetype');
  font-weight: 600;
  font-style: demi;
}
@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Bold.otf') format('truetype');
  font-weight: 800;
  font-style: bold;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-XLight.ttf') format('truetype');
  font-weight: 100;
  font-style: light;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: light;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: thin;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: black;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Ultra.ttf') format('truetype');
  font-weight: 900;
  font-style: ultra;
}
